<div class="container">
<h2>新規会員登録</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>


  <div>
    <%= f.label :"名前", class: "col-sm-2 control-label" %>
    <%= f.label :"(姓)", class: "col-sm-1 control-label" %>
    <%= f.text_field :last_name, autofocus: true, class: "col-sm-3 form-control-static name" %>
    <%= f.label :"(名)", class: "col-sm-1 control-label" %>
    <%= f.text_field :first_name, autofocus: true, class: "col-sm-3 form-control-static name" %>
  </div>

  <div>
    <%= f.label :"フリガナ", class: "col-sm-2 control-label" %>
    <%= f.label :"(セイ)", class: "col-sm-1 control-label" %>
    <%= f.text_field :last_name_kana, autofocus: true, class: "col-sm-3 form-control-static name" %>
    <%= f.label :"(メイ)", class: "col-sm-1 control-label" %>
    <%= f.text_field :first_name_kana, autofocus: true, class: "col-sm-3 form-control-static name" %>
  </div>

  <div>
    <%= f.label :"メールアドレス", class: "col-sm-3 control-label" %>
    <%= f.text_field :email, autofocus: true, class: "col-sm-3 form-control-static name" %>
　</div>


　<div>
    <%= f.label :"パスワード(6文字以上)", class: "col-sm-3 control-label" %>
    <%= f.password_field :password, autocomplete: "new-password", class: "col-sm-3 form-control-static" %>
  </div>

  <div>
    <%= f.label :"パスワード(確認用)", class: "col-sm-3 control-label" %>
    <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "col-sm-3 form-control-static" %>
  </div>
 
  <div class="col-sm-3", style= "display: inline-block;" >
  </div>
  <div class="col-sm-8", style= "display: inline-block;">
    <%= f.submit "新規登録",class: 'col-sm-4 btn btn-success' %>
  </div>
<% end %>

<h3>既に登録済みの方</h3>
<%= link_to "こちら", new_session_path(resource_name) %>からログインしてください
<h3>ゲストログイン（閲覧用)</h3>
<%= link_to "こちら", users_guest_sign_in_path, method: :post %>からログインしてください
<%#= render "devise/shared/links" %>
</div>